{% ckan_extends %}

{% block primary_content_inner %}
<button class="btn btn-primary" id="provenance-btn" value="{{pkg_dict.get('id')}}"" onclick=" getProvenance()">Dataset
    Provenance</button>
<script>
    function getProvenance() {
        let location = "https://geokur-dmp2.geo.tu-dresden.de/provViewer/?endpoint=https://geokur-dmp2.geo.tu-dresden.de/fuseki/ckan_mirror&dataset=https://geokur-dmp.geo.tu-dresden.de/dataset/" + document.getElementById("provenance-btn").value;
        //console.log(location)
        window.open = location;
    };
</script>
<!-- {{pkg_dict.get('id')}} -->

{{ super() }}
{% endblock %}